header{
  grid-area: header;
  text-align: left;
  background-color: #1b1b1b;
  width: 100%;
}

nav{
  /*grid-area: nav;
    border: 2px solid #e1dfdb;
  border-radius: 25px; */
  padding: 5px;
  margin-left: 10px;
  /* background-color: #e1dfdb; */
}

header h1 {
  float: left;
}