header{
    grid-area: header;
    text-align: center;
    background-color: #1b1b1b;
  }
  
  nav{
    grid-area: nav;
    border: 2px solid #e1dfdb;
    border-radius: 25px;
    padding: 25px;
    margin-left: 10px;
    /* background-color: #e1dfdb; */
  }
  
  main{
    grid-area: main;
    /* background-color: lightblue; */
  }
  
  aside{
    grid-area: aside;
    border: 2px solid #e1dfdb;
    border-radius: 25px;
    padding: 25px;
    margin-right: 10px;
    /* background-color: orange; */
  }
  
  footer{
    grid-area: footer;
    padding: 25px;
    margin-top: 10px;
    background-color: #e1dfdb; 
    text-align: center;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.Map {
    position: absolute;
    width: 50%;
    height: 71%;
}
/* .Map {
    width: 60%;
    height: 80%; 
    margin: 0 auto;
    border: 5px solid black;
}; */
  