main{
  grid-area: main;
  /* background-color: lightblue; */
  height: 100%;
  border: 2px solid #e1dfdb;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}

aside{
  grid-area: aside;
  border: 2px solid #e1dfdb;
  border-radius: 25px;
  padding: 25px;
  margin: 5px;
  color: #99a1b3;
  /* background-color: orange; */
}

footer{
  grid-area: footer;
  padding: 25px;
  margin-top: 10px;
  background-color: #e1dfdb; 
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.Map {
    position: relative;
    overflow: hidden;
    height:100%;
}

main div {
  height: 100%;
  width: 100%; 
}
  