section {
    grid-area: sidebar;
    border: 2px solid #e1dfdb;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
}

input {
    margin: 5px;
}

button {
    margin: 2px 5px; 
    /* background-color: #0069ff;
    color: #ffffff; */
}